@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

$accent: #E66309;
$dark: #1D1D1D;
$text: #808080;
$gray: #F9F6F4;
$light-orange: #FEEADD;

body,html{
    font-family: 'Poppins', sans-serif;
    overflow: unset !important;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Poppins', sans-serif;
}
a{
    text-decoration: none !important;
}
li{
    list-style: none !important;
}
ul{
    padding-left: 0 !important;
}
.para{
    color: $text;
    font-size: 14px;
}
// landing page navbar

.main-btn{
    position: relative;
    display: flex;
    max-width: max-content;
    gap: 8px;
    outline: none;
    border: none;
    box-shadow: none;
    padding: 12px 20px;
    background: $accent;
    border-radius: 100px;
    transition: 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);

    &:hover{
        transform: scale(0.9);
    }

    span{
        font-size: 14px;
        font-family: 'Poppins', sans-serif;
        font-weight: 600;
        color: white;
    }

    &.border-btn{
        border: none;
        background: transparent;

        span{
            color: $dark;
        }
    }
}

.ld-main-nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px 0px;
    z-index: 999;


    &.sticky{
        background: white;
        animation: slideIn 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955) forwards;
    }
    
    .ld-nav-inner{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .main-nav-logo{
            width: 180px;
            display: block;

            img{
                width: 100%;
                height: 100%;
            }
        }

        .r-part{
            display: flex;
            align-items: center;
            gap: 12px;
        }
    }
}
@keyframes slideIn {
    0%{
        transform: translateY(-100%);
    }
    100%{
        transform: translateY(0px);
    }
}
.hm-main-nav{
    position: sticky;
    top: 0;
    background: white !important;
}